body{
  margin:10px;
  padding:0;
  background-color: #999999;
}

a {
  color: #00771B;
  text-decoration: none;
}

img {
  width:100%;
}

.masterHolder {
  width:100%;
  font-size: 1.2em;

}

#top-corner {
  text-align: center;
  position:fixed;
  bottom:0;
  width:10%;
  font-size: 1em;
  color:##A4FB9F;
}

#header.center {
  text-align: center;
}

#left-side {
  width:32%;
  float:left;
  display:inline-block;
  text-align: center;
}


#middle {
  width:31%;
  display:inline-block;
  text-align: center;
  margin-left: 35px;
}

#right-side {
  width:31%;
  float:right;
  display:inline-block;
  text-align: center;
}

.center {
  text-align:center;
}
